@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

html {
    scroll-behavior: smooth;
    --basicColor: #6157AB;
    background: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    position: relative;
    width: 1200px;
    height: 5433px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Roboto';
    overflow: hidden;
}
.header {
    display: flex;
    height: 84px;
    justify-content: end;
    align-items: center;
}
.header-content {
    gap: 44px;
    display: flex;
    margin-right: 59px;
}
.header-links {
    gap: 68px;
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
}
.header-links li a {
    color: #636769;
}
.sign-up {
    width: 158px;
    height: 54px;
    border-radius: 5px;
    background: var(--basicColor);
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
}
.sign-up:hover {
    background: #766bcc;
}
.sign-up:active {
    transform:scale(102%)
}
.main {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 825px;
}
.main-content {
    display: flex;
    flex-direction: column;
    height: 742px;
    width: 1140px;
}
.families {
    position: absolute;
    width: 648px;
    height: 743px;
    top: 167px;
    left: 626px;

}

.main-headers {
    display: flex;
    flex-direction: column;
    gap: 47px;
}
.main-header {
    width: 616px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.5px;
    letter-spacing: 1px;
    color: #363B3D;
}
.main-subheader {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #636769;
    width: 599px;
}
.main-links {
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 47.5px;
}
.learn-more {
    color:var(--basicColor);
    border-bottom: solid 1px;
}
.featured-in {
    padding-top: 119px;
    width: 580px;

}
.logos {
    display: flex;
    padding-top: 17px;
}
.techcrunch {
    display: flex;
    align-self: center;

}